.add-card-form{
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10px;
    float: right;
    /* position: fixed; */
    display: block;
    width: 100%;
}

label{
margin-top: 15px;
}


button{
    margin-top: 20px;
    width: 100%;
}